img { max-width: 50%; height: auto;}

div.heading {margin: auto; width: 90%; padding: 10px; text-align: center;}
div.intro{ margin-left: 25px;padding: 5px;
}
p{margin-right: auto;}
div.eqint { margin-left: 25px; padding: 5px;}
div.natbrk {margin-left: 25px; padding: 5px;}
div.qtl{margin-left: 25px; margin-bottom: 90px; padding: 5px;}

h3.eqint {font-style: italic;}
